<div class="content">
    <div>
        <div>
            <h1>Here are my favorite movies</h1>
            <ul>
                <% movies.forEach(movie => { %>
                    <li><%= movie.name %></li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>